/* <---- CSS RESPONSIVO ----> */

/* <---- HOME ----> */
@media only screen and (width >=320px) and (width <=430px)
/* <---- CSS MOBILE ----> */
    {
    .Home {
        height: 736px;
    }

    .MyName {
        gap: 8px;

        width: 326px;
        height: 142px;
        left: calc(50% - 326px/2);
        top: 257px;

        & h1 {
            width: 326px;
            height: 28px;

            font-size: 40px;
            line-height: 60px;
        }

        & h2 {
            width: 326px;
            height: 103px;

            font-size: 68px;
            line-height: 55px;
            display: block;
        }
    }

    .OqSou {
        width: 360px;
        height: 90px;
        left: calc(50% - 360px/2);
        top: 405px;

        & h1 {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .BtnSobreMim {
        padding: 12px 28px;
        gap: 11.85px;

        width: 250px;
        height: 50px;
        left: calc(50% - 250px/2);
        top: 530px;

        border-radius: 35px;

        font-size: 16px;
        line-height: 24px;
    }

    .Scroll {
        width: 70px;
        height: 70px;
        left: calc(50% - 70px/2);
        top: 623px;
    }

    @keyframes ScrollAnimation {

        0%,
        100% {
            transform: translateY(0);
            /* Posição inicial e final */
        }

        50% {
            transform: translateY(3px);
            /* Move 5px para baixo */
        }
    }
}

@media only screen and (width >=768px) and (width <=834px)
/* <---- CSS TABLET ----> */
    {
    .Home {
        height: 711px;
    }

    .MyName {
        gap: 8px;

        width: 555px;
        height: 101px;
        left: calc(50% - 555px/2);
        top: 281px;

        & h1 {
            width: 512px;
            height: 45px;

            font-size: 64px;
            line-height: 96px;
        }

        & h2 {
            text-align: center;
            align-items: center;
            width: 557px;
            height: 48px;

            font-size: 68px;
            line-height: 102px;
        }
    }

    .OqSou {
        position: absolute;
        width: 580px;
        height: 72px;
        left: calc(50% - 580px/2);
        top: 400px;

        & h1 {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .BtnSobreMim {
        padding: 12px 28px;
        gap: 11.85px;

        width: 250px;
        height: 50px;
        left: calc(50% - 250px/2);
        top: 500px;

        border-radius: 35px;

        font-size: 16px;
        line-height: 24px;
    }

    .Scroll {
        width: 80px;
        height: 80px;
        left: calc(50% - 80px/2);
        /* Metade do tamanho */
        top: 580px;
    }

    @keyframes ScrollAnimation {

        0%,
        100% {
            transform: translateY(0);
            /* Posição inicial e final */
        }

        50% {
            transform: translateY(5px);
            /* Move 5px para baixo */
        }
    }
}

@media only screen and (width >=1024px) and (width <=1440px)
/* <---- CSS NOTEBOOK ----> */
    {
    .Home {
        height: 830px;
    }

    .MyName {
        gap: 9px;

        width: 982px;
        height: 170px;
        left: calc(50% - 982px/2);
        top: 300px;

        & h1 {
            width: 864px;
            height: 76px;

            font-size: 108px;
            line-height: 162px;
        }

        & h2 {
            width: 982px;
            height: 85px;

            font-size: 120px;
            line-height: 180px;
        }
    }

    .OqSou {
        position: absolute;
        width: 632px;
        height: 72px;
        left: calc(50% - 632px/2);
        top: 505px;

        & h1 {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .BtnSobreMim {
        padding: 12px 28px;
        gap: 11.85px;

        width: 250px;
        height: 50px;
        left: calc(50% - 250px/2);
        top: 618px;

        border-radius: 35px;

        font-size: 16px;
        line-height: 24px;
    }

    .Scroll {
        width: 80px;
        height: 80px;
        left: calc(50% - 80px/2);
        /* Metade do tamanho */
        top: 700px;
    }

    @keyframes ScrollAnimation {

        0%,
        100% {
            transform: translateY(0);
            /* Posição inicial e final */
        }

        50% {
            transform: translateY(5px);
            /* Move 5px para baixo */
        }
    }
}

/* <---- PORTFOLIO ----> */
@media only screen and (width >=320px) and (width <=430px)
/* <---- CSS MOBILE ----> */
    {
    .Portfolio {
        height: 1855px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 119.76px;
            height: 39.12px;
            left: calc(50% - 119.76px/2);
            top: 45px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Background {
            width: 1794.5px;
            height: 1248.24px;
            left: calc(50% - 1794.5px/2 + 150px);
            top: calc(50% - 1248.24px/2);
        }

        & .Eclipse1 {
            width: 360px;
            height: 90px;
            left: calc(50% - 360px/2);
            top: -45px;
        }
    }

    .Portfolio::before {
        height: 3px;
    }

    .BoasVindas {
        gap: 8px;

        width: 360px;
        height: 187px;
        left: calc(50% - 360px/2);
        top: 155px;

        & h1 {
            width: 299px;
            height: 25px;

            font-size: 36px;
            line-height: 54px;

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        & h2 {
            width: 346px;
            height: 34px;

            font-size: 48px;
            line-height: 72px;

            flex: none;
            order: 1;
            flex-grow: 0;
        }

        & .Description {
            width: 360px;
            height: 96px;
            left: calc(50% - 360px/2);
            top: 90px;

            font-size: 16px;
            line-height: 24px;
        }
    }

    .Projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;

        width: 353px;
        height: 1402px;
        left: calc(50% - 353px/2);
        top: 372px;
    }

    .MyService,
    .CocaCola,
    .AlphaDevs,
    .LinksPage {
        width: 353px;
        height: 320px;

        border-radius: 20px;

        & img {
            width: 296.92px;
            height: 180.36px;
            left: calc(50% - 296.92px/2);
            top: 20px;
        }

        & .Informacoes {
            width: 220px;
            height: 50px;
            left: calc(50% - 220px/2);
            top: 205px;

            & h1 {
                width: 182px;
                height: 28px;
                left: calc(50% - 182px/2);

                font-size: 32px;
                line-height: 28px;
            }

            & h2 {
                width: 159px;
                height: 18px;
                left: calc(50% - 159px/2);
                bottom: 0;

                font-size: 12px;
                line-height: 18px;
            }
        }

        & .Btns {
            padding: 0px;
            gap: 5px;

            width: 190px;
            height: 28px;
            left: calc(50% - 190px/2);
            top: 268px;

            & .BtnAcess {
                padding: 4px 16px;
                gap: 4;

                width: 140px;
                height: 28px;

                border-radius: 10px;

                font-size: 16px;
                line-height: 19px;
            }

            & .OqUsei {
                gap: 8.04px;

                width: 53.23px;
                height: 24.95px;
            }
        }
    }

    /* <---- BUTTON COCA-COLA ----> */
    .CocaCola .Btns {
        padding: 0px;
        gap: 5px;

        width: 250px;
        height: 28px;
        left: calc(50% - 250px/2);
        top: 268px;

        & .BtnAcess {
            width: 200px;
        }
    }
}

@media only screen and (width >=768px) and (width <=834px)
/* <---- CSS TABLET ----> */
    {
    .Portfolio {
        height: 2271px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 119.76px;
            height: 39.12px;
            left: calc(50% - 119.76px/2);
            top: 50px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Background {
            width: 2481.26px;
            height: 1816.34px;
            left: calc(50% - 2481.26px/2);
            top: calc(50% - 1816.34px/2 - 132.33px);
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -100px;
        }
    }

    .Portfolio::before {
        height: 4px;
    }

    .BoasVindas {
        gap: 8px;

        width: 591px;
        height: 225px;
        left: calc(50% - 591px/2);
        top: 165px;

        & h1 {
            width: 499px;
            height: 42px;

            font-size: 60px;
            line-height: 90px;

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        & h2 {
            width: 576px;
            height: 56px;

            font-size: 80px;
            line-height: 120px;

            flex: none;
            order: 1;
            flex-grow: 0;
        }

        & .Description {
            width: 580px;
            height: 90px;
            left: calc(50% - 580px/2);
            top: 140px;

            font-size: 20px;
            line-height: 30px;
        }
    }

    .Projetos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        gap: 50px 40px;

        width: 580px;
        height: 1750px;
        left: calc(50% - 580px/2);
        top: 420px;
    }

    .MyService,
    .CocaCola,
    .AlphaDevs,
    .LinksPage {
        width: 451.12px;
        height: 400px;

        & img {
            position: absolute;
            width: 379.45px;
            height: 230.49px;
            left: calc(50% - 379.45px/2);
            top: 25px;
        }

        & .Informacoes {
            width: 220px;
            height: 60.17px;
            left: calc(50% - 201px/2);
            top: 260px;

            & h1 {
                font-size: 36px;
                line-height: 35px;
            }

            & h2 {
                font-size: 12px;
                line-height: 18px;
            }
        }

        & .Btns {
            padding: 0px;
            gap: 6.39px;

            position: absolute;
            width: 207.02px;
            height: 32px;
            left: calc(50% - 207.02px/2);
            top: 342.49px;

            & .BtnAcess {
                padding: 6.10182px 21.7008px;
                gap: 7.23px;

                width: 150px;
                height: 32px;

                font-size: 16px;
                line-height: 19px;
            }

            & .OqUsei {
                gap: 8.04px;

                width: 53.23px;
                height: 24.95px;
            }
        }
    }

    /* <---- BUTTON COCA-COLA ----> */
    .CocaCola .Btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 6.39px;

        position: absolute;
        width: 270px;
        height: 32px;
        left: calc(50% - 270px/2);
        top: 342.49px;

        & .BtnAcess {
            width: 220px;
        }
    }
}

@media only screen and (width >=1024px) and (width <=1440px)
/* <---- CSS NOTEBOOK ----> */
    {
    .Portfolio {
        height: 1310px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 119.76px;
            height: 39.12px;
            left: calc(50% - 119.76px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Background {
            width: 2481.26px;
            height: 1816.34px;
            left: calc(50% - 2481.26px/2);
            top: calc(50% - 1816.34px/2);
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -100px;
        }
    }

    .Portfolio::before {
        height: 4px;
    }

    .BoasVindas {
        gap: 8px;

        width: 764px;
        height: 202px;
        left: calc(50% - 764px/2);
        top: 150px;

        & h1 {
            width: 499px;
            height: 42px;

            font-size: 60px;
            line-height: 90px;

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        & h2 {
            width: 576px;
            height: 56px;

            font-size: 80px;
            line-height: 120px;

            flex: none;
            order: 1;
            flex-grow: 0;
        }

        & .Description {
            width: 764px;
            height: 60px;
            left: calc(50% - 764px/2);
            top: 145px;

            font-size: 20px;
            line-height: 30px;
        }
    }

    .Projetos {
        padding: 0px;
        gap: 50px 40px;

        width: 943px;
        height: 850px;
        left: calc(50% - 943px/2);
        top: 400px;
    }

    .MyService,
    .CocaCola,
    .AlphaDevs,
    .LinksPage {
        width: 451.12px;
        height: 400px;

        & img {
            position: absolute;
            width: 379.45px;
            height: 230.49px;
            left: calc(50% - 379.45px/2);
            top: 25px;
        }

        & .Informacoes {
            width: 220px;
            height: 60.17px;
            left: calc(50% - 201px/2);
            top: 260px;

            & h1 {
                font-size: 36px;
                line-height: 35px;
            }

            & h2 {
                font-size: 12px;
                line-height: 18px;
            }
        }

        & .Btns {
            padding: 0px;
            gap: 6.39px;

            position: absolute;
            width: 207.02px;
            height: 32px;
            left: calc(50% - 207.02px/2);
            top: 342.49px;

            & .BtnAcess {
                padding: 6.10182px 21.7008px;
                gap: 7.23px;

                width: 150px;
                height: 32px;

                font-size: 16px;
                line-height: 19px;
            }

            & .OqUsei {
                gap: 8.04px;

                width: 53.23px;
                height: 24.95px;
            }
        }
    }

    /* <---- BUTTON COCA-COLA ----> */
    .CocaCola .Btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 6.39px;

        position: absolute;
        width: 270px;
        height: 32px;
        left: calc(50% - 270px/2);
        top: 342.49px;

        & .BtnAcess {
            width: 220px;
        }
    }
}

/* <---- SOBRE ----> */
@media only screen and (width >=320px) and (width <=430px)
/* <---- CSS MOBILE ----> */
    {
    .Sobre {
        height: 1355px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 100px;
            height: 39.12px;
            left: calc(50% - 100px/2);
            top: 45px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse2 {
            width: 360px;
            height: 90px;
            left: calc(50% - 360px/2);
            top: -45px;
        }

        & img {
            width: 320px;
            height: 374.94px;
            left: calc(50% - 320px/2);
            top: 295px;
        }
    }

    .Sobre::before {
        height: 3px;
    }

    .ContainerSobreInformtion {
        gap: 445px;

        position: absolute;
        width: 360px;
        height: 1140.85px;
        left: calc(50% - 360px/2);
        top: 145px;

        & .SaibaMaisSobre {
            gap: 8px;

            width: 360px;
            height: 118px;
            align-items: center;

            flex: none;
            order: 0;
            flex-grow: 0;

            & h1 {
                width: 360px;
                height: 25px;

                font-size: 36px;
                line-height: 54px;

                flex: none;
                order: 0;
                flex-grow: 0;
            }

            & h2 {
                width: 266px;
                height: 85px;

                font-size: 60px;
                line-height: 43px;
                display: block;
                text-align: center;
                align-items: center;

                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }

        & .InformationforMe {
            gap: 20px;

            width: 360px;
            height: 579.85px;

            & .SobreMim {
                gap: 20px;

                width: 360px;
                height: 505px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & h1 {
                    width: 360px;
                    height: 210px;

                    font-size: 20px;
                    line-height: 30px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                & p {
                    width: 350px;

                    font-size: 16px;
                    line-height: 24px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;

                }
            }

            & .btnCurriculo {
                padding: 10px 20px;
                gap: 10px;

                width: 240px;
                height: 45px;

                border-radius: 25px;

                flex: none;
                order: 1;
                flex-grow: 0;

                font-size: 12px;
                line-height: 15px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & .VectorBtn {
                    width: 18px;
                    height: 18px;
                }
            }

            & .btnCurriculo:hover {
                transform: scale(1.05);
                /* Aumenta levemente o container */
                box-shadow: 6px 6px 8px rgba(10, 9, 8, 0.1);
            }

            & .btnCurriculo:active {
                background-color: var(--Orange);
                box-shadow: 0px 8px 8px rgba(255, 112, 41, 0.267);
            }
        }
    }
}

@media only screen and (width >=768px) and (width <=834px)
/* <---- CSS TABLET ----> */
    {
    .Sobre {
        height: 1255px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 105px;
            height: 39.12px;
            left: calc(50% - 105px/2);
            top: 50px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse2 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }

        & img {
            width: 393.32px;
            height: 460.85px;
            left: calc(50% - 393.32px/2);
            top: 754px;
        }
    }

    .Sobre::before {
        height: 4px;
    }

    .ContainerSobreInformtion {
        gap: 20px;

        width: 544.75px;
        height: 553.62px;
        left: calc(50% - 544.75px/2);
        top: 165px;

        & .SaibaMaisSobre {
            gap: 9px;

            width: 554px;
            height: 97px;

            & h1 {
                width: 510px;
                height: 37px;

                font-size: 52px;
                line-height: 78px;

                flex: none;
                order: 0;
                flex-grow: 0;
            }

            & h2 {
                width: 554px;
                height: 51px;

                font-size: 72px;
                line-height: 108px;

                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }

        & .InformationforMe {
            gap: 5px;

            width: 540px;
            height: 441.27px;

            & .SobreMim {
                gap: 10px;

                width: 540px;
                height: 377px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & h1 {
                    width: 500px;
                    height: 150px;

                    font-size: 20px;
                    line-height: 30px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                & p {
                    width: 409px;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
            }

            & .btnCurriculo {
                padding: 10px 20px;
                gap: 8px;

                width: 220px;
                height: 45px;

                border-radius: 25px;

                flex: none;
                order: 1;
                flex-grow: 0;

                font-size: 12px;
                line-height: 15px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & .VectorBtn {
                    width: 18px;
                    height: 18px;
                }
            }

            & .btnCurriculo:hover {
                transform: scale(1.05);
                /* Aumenta levemente o container */
                box-shadow: 6px 6px 8px rgba(10, 9, 8, 0.1);
            }

            & .btnCurriculo:active {
                background-color: var(--Orange);
                box-shadow: 0px 8px 8px rgba(255, 112, 41, 0.267);
            }
        }
    }
}

@media only screen and (width >=1024px) and (width <=1440px)
/* <---- CSS NOTEBOOK ----> */
    {
    .Sobre {
        height: 756px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 105px;
            height: 39.12px;
            left: calc(50% - 105px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse2 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }

        & img {
            width: 400px;
            height: 468.67px;
            left: 885px;
            top: calc(50% - 468.67px/2);
        }
    }

    .Sobre::before {
        height: 4px;
    }

    .ContainerSobreInformtion {
        gap: 15px;

        width: 554px;
        height: 553.27px;
        left: 152px;
        top: 144px;

        & .SaibaMaisSobre {
            gap: 9px;

            width: 554px;
            height: 97px;

            & h1 {
                width: 510px;
                height: 37px;

                font-size: 52px;
                line-height: 78px;

                flex: none;
                order: 0;
                flex-grow: 0;
            }

            & h2 {
                width: 554px;
                height: 51px;

                font-size: 72px;
                line-height: 108px;

                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }

        & .InformationforMe {
            gap: 5px;

            width: 540px;
            height: 441.27px;

            & .SobreMim {
                gap: 10px;

                width: 540px;
                height: 377px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & h1 {
                    width: 500px;
                    height: 150px;

                    font-size: 20px;
                    line-height: 30px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                & p {
                    width: 409px;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
            }

            & .btnCurriculo {
                padding: 10px 20px;
                gap: 8px;

                width: 220px;
                height: 45px;

                border-radius: 25px;

                flex: none;
                order: 1;
                flex-grow: 0;

                font-size: 12px;
                line-height: 15px;

                flex: none;
                order: 0;
                flex-grow: 0;

                & .VectorBtn {
                    width: 18px;
                    height: 18px;
                }
            }

            & .btnCurriculo:hover {
                transform: scale(1.05);
                /* Aumenta levemente o container */
                box-shadow: 6px 6px 8px rgba(10, 9, 8, 0.1);
            }

            & .btnCurriculo:active {
                background-color: var(--Orange);
                box-shadow: 0px 8px 8px rgba(255, 112, 41, 0.267);
            }
        }
    }
}

/* <---- SKILLS ----> */
@media only screen and (width >=320px) and (width <=430px)
/* <---- CSS MOBILE ----> */
    {
    .Habilidades {
        height: 1006px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 45px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 360px;
            height: 90px;
            left: calc(50% - 360px/2);
            top: -45px;
        }
    }

    .Habilidades::before {
        height: 3px;
    }

    .AlgumasHabilidades {
        gap: 8px;

        width: 334px;
        height: 108px;
        left: 35px;
        top: 124px;

        & h1 {
            width: 325px;
            height: 20px;

            font-size: 28px;
            line-height: 42px;
        }

        & h2 {
            width: 335px;
            height: 80px;

            font-size: 52px;
            line-height: 44px;
            word-spacing: -10px;

            flex-wrap: wrap;
            text-align: left;

            white-space: normal;
            overflow-wrap: break-word;
        }
    }

    & .InformationSkills {
        gap: 25px;

        width: 334px;
        height: 275px;
        left: 36px;
        top: 252px;

        & p {
            width: 328px;

            font-size: 16px;
            line-height: 24px;
        }
    }

    .Skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 51px 10px;

        width: 360px;
        height: 366.44px;
        left: calc(50% - 360px/2);
        top: 579px;

        & .Html,
        .Css,
        .JavaScript,
        .Reacts,
        .Figma,
        .MySql,
        .Csharp,
        .C {
            gap: 2px;

            height: 76.15px;

            & img {
                height: 56.27px;
            }

            & h1 {
                width: 111px;
                height: 36px;

                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }
        }
    }
}

@media only screen and (width >=768px) and (width <=834px)
/* <---- CSS TABLET ----> */
    {
    .Habilidades {
        height: 900px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }
    }

    .Habilidades::before {
        height: 4px;
    }

    .AlgumasHabilidades {
        gap: 8px;

        width: 590px;
        height: 81px;
        left: calc(50% - 590px/2);
        top: 175px;

        & h1 {
            width: 560px;
            height: 34px;

            font-size: 48px;
            line-height: 72px;
        }

        & h2 {
            width: 586px;
            height: 39px;

            font-size: 56px;
            line-height: 84px;
        }
    }

    & .InformationSkills {
        gap: 35px;

        width: 580px;
        height: 275px;
        left: 125px;
        top: 271px;

        & p {
            width: 580px;
        }
    }

    .Skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        gap: 21px 75px;

        width: 580px;
        height: 203.98px;
        left: calc(50% - 580px/2);
        top: 617px;

        & .Html,
        .Css,
        .JavaScript,
        .Reacts,
        .Figma,
        .MySql,
        .Csharp,
        .C {
            padding: 0px;
            gap: 2.37px;

            width: auto;
            height: 91.49px;

            & img {
                width: auto;
                height: 71.12px;
            }

            & h1 {
                width: auto;
                height: 18px;

                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}


@media only screen and (width >=1024px) and (width <=1440px)
/* <---- CSS NOTEBOOK ----> */
    {
    .Habilidades {
        height: 822px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }
    }

    .Habilidades::before {
        height: 4px;
    }

    .AlgumasHabilidades {
        gap: 9px;

        width: 754px;
        height: 97px;
        left: 152px;
        top: 150px;

        & h1 {
            width: 610px;
            height: 37px;

            font-size: 52px;
            line-height: 78px;
        }

        & h2 {
            width: 754px;
            height: 51px;

            font-size: 72px;
            line-height: 108px;
        }
    }

    & .InformationSkills {
        gap: 30px;

        width: 741px;
        height: 245px;
        left: 152px;
        top: 267px;

        & p {
            width: 741px;
        }
    }

    .Skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        gap: 25px 75px;

        width: 777px;
        height: 203.98px;
        left: calc(50% - 777px/2);
        top: 558px;

        & .Html,
        .Css,
        .JavaScript,
        .Reacts,
        .Figma,
        .MySql,
        .Csharp,
        .C {
            padding: 0px;
            gap: 2.37px;

            width: auto;
            height: 91.49px;

            & img {
                width: auto;
                height: 71.12px;
            }

            & h1 {
                width: auto;
                height: 18px;

                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

/* <---- CONTATOS ----> */
@media only screen and (width >=320px) and (width <=430px)
/* <---- CSS MOBILE ----> */
    {
    .Contatos {
        height: 781px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 45px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 360px;
            height: 90px;
            left: calc(50% - 360px/2);
            top: -45px;
        }
    }

    .Contatos::before {
        height: 3px;
    }

    .ContactMe {
        gap: 8px;

        position: absolute;
        width: 300px;
        height: 70px;
        left: calc(50% - 300px/2);
        top: 145px;

        & h1 {
            width: 290px;
            height: 23px;

            font-size: 32px;
            line-height: 48px;
        }

        & h2 {
            width: 235px;
            height: 39px;

            font-size: 56px;
            line-height: 84px;
        }
    }

    .SobreContato {
        gap: 25px;

        width: 360px;
        height: 367px;
        left: calc(50% - 360px/2);
        top: 240px;

        & h1 {
            width: 360px;
            height: 150px;

            font-size: 20px;
            line-height: 30px;
        }

        & h2 {
            width: 332px;
            height: 168px;

            font-size: 16px;
            line-height: 24px;
        }
    }

    .Redes {
        gap: 26px;

        width: 203.87px;
        height: 95px;
        left: calc(50% - 203.87px/2);
        top: 636px;

        & h1 {
            width: 115px;
            height: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .IconsRedes {
            gap: 26.94px;

            width: 203.87px;
            height: 50px;

            & img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media only screen and (width >=768px) and (width <=834px)
/* <---- CSS TABLET ----> */
    {
    .Contatos {
        height: 802px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }
    }

    .Contatos::before {
        height: 4px;
    }

    .ContactMe {
        gap: 8px;

        width: 470px;
        height: 97px;
        left: calc(50% - 470px/2);
        top: 150px;

        & h1 {
            width: 460px;
            height: 37px;

            font-size: 52px;
            line-height: 78px;
        }

        & h2 {
            width: 302px;
            height: 51px;

            font-size: 72px;
            line-height: 108px;
        }
    }

    .SobreContato {
        gap: 25px;

        width: 580px;
        height: 319px;
        left: calc(50% - 580px/2);
        top: 296px;

        & h1 {
            width: 550px;
            height: 144px;

            font-size: 24px;
            line-height: 36px;
        }

        & h2 {
            width: 566px;
            height: 150px;

            font-size: 20px;
            line-height: 30px;
        }
    }

    .Redes {
        gap: 20px;

        width: 203.87px;
        height: 90px;
        left: calc(50% - 203.87px/2);
        top: 664px;

        & h1 {
            width: 115px;
            height: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .IconsRedes {
            gap: 26.94px;

            width: 203.87px;
            height: 50px;

            & img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media only screen and (width >=1024px) and (width <=1440px)
/* <---- CSS NOTEBOOK ----> */
    {
    .Contatos {
        height: 746px;

        & h6 {
            padding: 8px 30px;
            gap: 8.96px;

            width: 135px;
            height: 39.12px;
            left: calc(50% - 135px/2);
            top: 55px;

            border: 3px solid;
            border-radius: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .Eclipse1 {
            width: 600px;
            height: 150px;
            left: calc(50% - 600px/2);
            top: -90px;
        }
    }

    .Contatos::before {
        height: 5px;
    }

    .ContactMe {
        gap: -9px;

        width: 470px;
        height: 97px;
        left: calc(50% - 470px/2);
        top: 150px;

        & h1 {
            width: 460px;
            height: 37px;

            font-size: 52px;
            line-height: 78px;
        }

        & h2 {
            width: 302px;
            height: 51px;

            font-size: 72px;
            line-height: 108px;
        }
    }

    .SobreContato {
        gap: 25px;

        position: absolute;
        width: 660px;
        height: 283px;
        left: calc(50% - 660px/2);
        top: 273px;

        & h1 {
            width: 660px;
            height: 108px;

            font-size: 24px;
            line-height: 36px;
        }

        & h2 {
            width: 576px;
            height: 150px;

            font-size: 20px;
            line-height: 30px;
        }
    }

    .Redes {
        gap: 18x;

        width: 203.87px;
        height: 84px;
        left: calc(50% - 203.87px/2);
        top: 596px;

        & h1 {
            width: 115px;
            height: 24px;

            font-size: 16px;
            line-height: 24px;
        }

        & .IconsRedes {
            gap: 26.94px;

            width: 203.87px;
            height: 50px;

            & img {
                width: 50px;
                height: 50px;
            }
        }
    }
}