@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    cursor: url(../../Assets/VectorCursor.png), pointer;
    scroll-behavior: smooth;
}

/* <--- CORES E FONTE ---> */
:root {
    --font-principal: var(--font-principal);
    --Black: #050506;
    --Blue: #066FD5;
    --Gray: #5F5F5F;
    --Orange: #FF7229;
    --White: #F0EDE6;
}

/* <--- CORES NOS SPAN ---> */
.Laranja {
    color: var(--Orange);
}

.Azul {
    color: var(--Blue);
}

/* <--- SCROLLBAR ---> */
::-webkit-scrollbar

/* Largura */
    {
    width: 8px;
}

::-webkit-scrollbar-track

/* Fundo */
    {
    background-color: var(--Black);
}

::-webkit-scrollbar-thumb

/* Scroll */
    {
    background: linear-gradient(-180deg, #066FD5 0%, #033A6F 100%);
    border-radius: 25px;
}

/* <--- HOME ---> */
.Home {
    position: relative;
    width: 100%;
    height: 940px;

    background-color: var(--Black);

    overflow: hidden;
}

.MyName {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 9px;

    position: absolute;
    width: 1014px;
    height: 175px;
    left: calc(50% - 1014px/2);
    top: 327px;

    & h1 {
        width: 910px;
        height: 79px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 500;
        font-size: 112px;
        line-height: 168px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--White);

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    & h2 {
        width: 1014px;
        height: 87px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 500;
        font-size: 124px;
        line-height: 186px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--Blue);

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    & span {
        font-weight: 700;
    }
}

.OqSou {
    position: absolute;
    width: 707px;
    height: 72px;
    left: calc(50% - 707px/2);
    top: 526px;

    & h1 {
        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center;

        /* SalesDev./Gray */
        color: var(--Gray);
    }
}

.BtnSobreMim {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17.7823px 35.5645px;
    gap: 11.85px;

    position: absolute;
    width: 310px;
    height: 68px;
    left: calc(50% - 310px/2);
    top: 663px;

    /* SalesDev./White */
    border: 3px solid var(--White);
    border-radius: 35px;
    background-color: transparent;
    cursor: pointer;

    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: var(--White);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.BtnSobreMim:hover {
    border: none;
    border-radius: 35px;
    background-color: var(--Blue);
    transform: scale(2.05);
    /* Aumenta levemente o container */
    box-shadow: 0px 8px 8px rgba(6, 109, 213, 0.11);
}

.Scroll {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 100px/2);
    top: 786px;
    animation: ScrollAnimation 1.5s infinite ease-in-out;
    cursor: url(../../Assets/VectorCursor.png);
}

@keyframes ScrollAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

/* <--- PORTFOLIO ---> */
.Portfolio {
    position: relative;
    width: 100%;
    height: 1420px;

    background-color: var(--Black);

    overflow: hidden;

    & h6 {
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 80px;
        gap: 10px;

        position: absolute;
        width: 164px;
        height: 50px;
        left: calc(50% - 164px/2);
        top: 65px;

        /* SalesDev./White */
        border: 3px solid var(--White);
        border-radius: 30px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        display: flex;
        align-items: center;

        /* SalesDev./White */
        color: var(--White);
    }

    & .Background {
        position: absolute;
        width: 2481.26px;
        height: 1816.34px;
        left: calc(50% - 2481.26px/2);
        top: calc(50% - 1816.34px/2);

        opacity: 0.05;
    }

    & .Eclipse1 {
        position: absolute;
        width: 800px;
        height: 200px;
        left: calc(50% - 800px/2);
        top: -100px;

        background: rgba(6, 111, 213, 0.5);
        filter: blur(125px);
    }
}

.Portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    /* Altura da "borda" */
    background: linear-gradient(to right, #12131500 5%, #066FD5 50%, #12131500 95%);
    z-index: 9;
}

.BoasVindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: -2px;

    position: absolute;
    width: 764px;
    height: 185px;
    left: calc(50% - 764px/2);
    top: 175px;

    & h1 {
        width: 499px;
        height: 42px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--White);

        flex: none;
        order: 0;
        flex-grow: 0;

        & span {
            font-weight: 500;
        }
    }

    & h2 {
        width: 576px;
        height: 56px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 120px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;

        color: var(--White);

        flex: none;
        order: 1;
        flex-grow: 0;

        & span {
            font-weight: 700;
        }
    }

    & .Description {
        position: absolute;
        width: 764px;
        height: 60px;
        left: calc(50% - 764px/2);
        top: 125px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        display: flex;
        align-items: center;
        text-align: center;

        /* SalesDev./Gray */
        color: var(--Gray);
    }
}

.Projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 50px 295px;

    position: absolute;
    width: 1200px;
    height: 850px;
    left: calc(50% - 1200px/2);
    top: 440px;
}

.MyService,
.CocaCola,
.AlphaDevs,
.LinksPage {
    box-sizing: border-box;

    width: 451.12px;
    height: 400px;

    background: rgba(9, 10, 13, 0.3);
    border: 3px solid rgba(240, 237, 230, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;

    & img {
        position: absolute;
        width: 379.45px;
        height: 230.49px;
        left: calc(50% - 379.45px/2);
        top: 25px;
    }

    & .Informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 6px;

        position: absolute;
        width: 210px;
        height: 60px;
        left: calc(50% - 210px/2);
        top: 260.7px;

        & h1 {
            width: 210px;
            height: 36px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 35px;

            display: flex;
            align-items: center;

            color: var(--White);

            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        & h2 {
            width: 159px;
            height: 18px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-align: center;

            color: var(--Gray);

            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }

    & .Btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 6.39px;

        position: absolute;
        width: 207.02px;
        height: 32px;
        left: calc(50% - 207.02px/2);
        top: 342.49px;

        & .BtnAcess {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6.10182px 21.7008px;
            gap: 7.23px;

            width: 150px;
            height: 32px;

            background: linear-gradient(180deg, #066FD5 0%, #033A6F 100%);
            border: none;
            border-radius: 12px;

            cursor: pointer;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;

            /* SalesDev./White */
            color: var(--White);

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        & .OqUsei {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 8.04px;

            width: 53.23px;
            height: 24.95px;

            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }
}

.MyService:hover,
.CocaCola:hover,
.AlphaDevs:hover,
.LinksPage:hover {
    box-shadow: 6px 6px 8px rgba(39, 39, 38, 0.199);
}

/* <---- BUTTON COCA-COLA ----> */
.CocaCola .Btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6.39px;

    position: absolute;
    width: 270px;
    height: 32px;
    left: calc(50% - 270px/2);
    top: 342.49px;

    & .BtnAcess {
        width: 220px;
    }
}

/* <--- SOBRE ---> */
.Sobre {
    position: relative;
    width: 100%;
    height: 820px;

    background-color: var(--White);

    overflow: hidden;

    & h6 {
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 60px;
        gap: 10px;

        position: absolute;
        width: 140px;
        height: 50px;
        left: calc(50% - 140px/2);
        top: 65px;

        /* SalesDev./White */
        border: 3px solid var(--Black);
        border-radius: 30px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        display: flex;
        align-items: center;

        /* SalesDev./White */
        color: var(--Black);
    }

    & .Eclipse2 {
        position: absolute;
        width: 800px;
        height: 200px;
        left: calc(50% - 800px/2);
        top: -100px;

        background: rgba(255, 114, 41, 0.5);
        filter: blur(125px);
    }

    & img {
        position: absolute;
        width: 490.75px;
        height: 575px;
        left: 1169px;
        top: 158px;
    }
}

.Sobre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    /* Altura da "borda" */
    background: linear-gradient(to right, #f0ede600 5%, #FF7229 50%, #f0ede600 95%);
    z-index: 9;
}

.ContainerSobreInformtion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 752px;
    height: 553px;
    left: 339px;
    top: calc(50% - 553px/2 + 36.09px);

    & .SaibaMaisSobre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 9px;

        width: 631px;
        height: 107px;

        flex: none;
        order: 0;
        flex-grow: 0;

        & h1 {
            width: 585px;
            height: 42px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 90px;

            leading-trim: both;
            text-edge: cap;
            display: flex;
            align-items: center;

            color: var(--Black);

            flex: none;
            order: 0;
            flex-grow: 0;

            & span {
                font-weight: 600;
            }
        }

        & h2 {
            width: 616px;
            height: 56px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 500;
            font-size: 80px;
            line-height: 120px;

            leading-trim: both;
            text-edge: cap;
            display: flex;
            align-items: center;

            color: var(--Black);

            flex: none;
            order: 1;
            flex-grow: 0;

            & span {
                font-weight: 700;
            }
        }
    }

    & .InformationforMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;

        width: 752px;
        height: 432px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        & .SobreMim {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 20px;

            width: 752px;
            height: 364px;

            flex: none;
            order: 0;
            flex-grow: 0;

            & h1 {
                width: auto;
                height: 144px;

                font-family: var(--font-principal);
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;

                color: var(--Black);

                flex: none;
                order: 0;
                flex-grow: 0;
            }

            & p {
                width: 620px;
                height: auto;

                font-family: var(--font-principal);
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;

                color: var(--Gray);

                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        & .btnCurriculo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 24px 20px;
            gap: 10px;

            width: 282px;
            height: 50px;

            background: var(--Blue);
            border-radius: 24px;
            border: none;

            cursor: pointer;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;

            /* SalesDev./White */
            color: var(--White);

            & .VectorBtn {
                position: relative;
                top: 0;
                left: 0;
                width: 22.91px;
                height: 22.91px;
            }
        }

        & .btnCurriculo:hover {
            transform: scale(1.05);
            /* Aumenta levemente o container */
            box-shadow: 6px 6px 8px rgba(10, 9, 8, 0.1);
        }

        & .btnCurriculo:active {
            background-color: var(--Orange);
            box-shadow: 0px 8px 8px rgba(255, 112, 41, 0.267);
        }
    }
}

/* <--- SKILLS ---> */
.Habilidades {
    position: relative;
    width: 100%;
    height: 815px;

    background-color: var(--Black);

    overflow: hidden;

    & h6 {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 80px;
        gap: 10px;

        position: absolute;
        width: 180px;
        height: 50px;
        left: calc(50% - 180px/2);
        top: 65px;

        border: 3px solid var(--White);
        border-radius: 30px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;

        color: var(--White);
    }

    & .Eclipse1 {
        position: absolute;
        width: 800px;
        height: 200px;
        left: calc(50% - 800px/2);
        top: -100px;

        background: rgba(6, 111, 213, 0.5);
        filter: blur(125px);
    }
}

.Habilidades::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    /* Altura da "borda" */
    background: linear-gradient(to right, #12131500 5%, #066FD5 50%, #12131500 95%);
    z-index: 9;
}

.ContainerSkillsInformtion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 858px;
    height: 386px;
    left: 339px;
    top: 175px;

    background-color: yellow;

    & .TittleSkills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 9px;

        width: 858px;
        height: 107px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        & h1 {
            width: 720px;
            height: 42px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 90px;

            leading-trim: both;
            text-edge: cap;
            display: flex;
            align-items: center;

            color: var(--White);

            flex: none;
            order: 0;
            flex-grow: 0;

            & span {
                font-weight: 500;
            }
        }

        & h2 {
            width: 880px;
            height: 56px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 500;
            font-size: 80px;
            line-height: 120px;

            leading-trim: both;
            text-edge: cap;
            display: flex;
            align-items: center;

            color: var(--White);

            flex: none;
            order: 1;
            flex-grow: 0;

            & span {
                font-weight: 700;
            }
        }
    }

    & .InformationSkills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 35px;

        width: 752px;
        height: auto;

        flex: none;
        order: 0;
        flex-grow: 0;

        background-color: red;

        & p {
            width: 741px;
            height: auto;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;

            color: var(--Gray);

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
}

.Skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 75px;

    position: absolute;
    width: 1160.78px;
    height: 91.49px;
    left: calc(50% - 1160.78px/2);
    top: 628px;

    & .Html,
    .Css,
    .JavaScript,
    .Reacts,
    .Figma,
    .MySql,
    .Csharp,
    .C {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 2.37px;

        width: auto;
        height: 91.49px;

        flex: none;
        order: 3;
        flex-grow: 0;

        & img {
            width: auto;
            height: 71.12px;
        }

        & h1 {
            width: auto;
            height: 18px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;

            color: var(--White);

            flex: none;
            order: 1;
            flex-grow: 0;
        }

        & img:hover {
            transform: translateY(-5px);
            filter: grayscale(100%) brightness(5.5);
            cursor: grab;
        }
    }
}

/* <---- CONTATOS ----> */
.Contatos {
    position: relative;
    width: 100%;
    height: 800px;

    background-color: var(--Black);

    overflow: hidden;

    & h6 {
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 80px;
        gap: 10px;

        position: absolute;
        width: 164px;
        height: 50px;
        left: calc(50% - 164px/2);
        top: 65px;

        /* SalesDev./White */
        border: 3px solid var(--White);
        border-radius: 30px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        display: flex;
        align-items: center;

        /* SalesDev./White */
        color: var(--White);
    }

    & .Eclipse1 {
        position: absolute;
        width: 800px;
        height: 200px;
        left: calc(50% - 800px/2);
        top: -100px;

        background: rgba(6, 111, 213, 0.5);
        filter: blur(125px);
    }
}

.Contatos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    /* Altura da "borda" */
    background: linear-gradient(to right, #12131500 5%, #066FD5 50%, #12131500 95%);
    z-index: 9;
}

.ContactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 9px;

    position: absolute;
    width: 560px;
    height: 107px;
    left: calc(50% - 560px/2);
    top: 175px;

    & h1 {
        width: 550px;
        height: 42px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--White);

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        & span {
            font-weight: 600;
        }
    }

    & h2 {
        width: 336px;
        height: 56px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 120px;

        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--Blue);

        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

.SobreContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 800px;
    height: 253px;
    left: calc(50% - 800px/2);
    top: 320px;

    & h1 {
        width: 787px;
        height: auto;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;

        /* SalesDev./White */
        color: var(--White);
    }

    & h2 {
        width: 820px;
        height: auto;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        color: var(--Gray);
    }
}

.Redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 244.65px;
    height: 110px;
    left: calc(50% - 244.65px/2);
    top: 620px;

    & h1 {
        width: 144px;
        height: 30px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: var(--White);
    }

    & .IconsRedes {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 32.32px;

        width: 244.65px;
        height: 60px;

        & img {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

        & img:hover {
            transform: scale(1.15);
            filter: drop-shadow(0 10px 20px #066dd5e9);
        }
    }
}